.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 0;
}

.list-display {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.income-list {
  /*float:left;*/
  
}
.expenses-list {
  /*float:right;*/

}

.header {
  background-color: #F2A65A;
  box-sizing: border-box;
  margin: 0;
}

.form-div {
  background-color: rgb(234, 245, 243);
  margin: 0;
}

.form-div input, .form-div textarea, .form-div select {
  padding: 6px 10px;
  margin: 10px 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
